body{
    background-color: #D93A2B;
}

header{
    background-color: #D96B52;
}

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 30px;
    background-color: #D9CBBA;
}

.badGuyImage{
    width: 150px;
    height: 150px;
}

.badGuy{
    text-align: center;
}

#price{
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
    font-size: 25px;
    background-color: #D9CBBA;;
}

.input{
    display: flex;
    justify-content: space-between;
}

#totalButton{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#total{
    background-color: #D9CBBA;;
}

address{
    text-align: right;
    margin-top: 20px;
    background-color: #D96B52;
}